.subscribers{
    margin-left: -8px;
}

.noAvatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--group-background-color);
    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whiteAvatar { 
    background-image: linear-gradient(315deg, #D1D1D1, #FFFFFF 40%);
}

.link {
    color: var(--text-secondary);
}

.friendsContainer {
    padding: 8px 14px;
    border-radius: var(--border-radius);
    background-color: var(--popover-color);
    color: white;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
}

.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 5px;

    text-align: center;
    font-size: var(--font-size-s);
    max-width: 80px;
}

.photo {
    height: 30px;
    width: 30px;
}
