.container{
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-areas: "filters content";
    column-gap: 10px;
}
/* TODO: допилить, чтобы фильтры были на месте и не уезжали */
.filters{
    grid-area: filters;
    height: 310px;
    position: sticky;
}

.content{
    grid-area: content
}