.container{
    display: grid;
    grid-template-columns: 300px 600px;
    column-gap: 10px;
}

.filters{
    grid-column-start: 1;
    grid-row-start: 1;
}

.content{
    grid-column-start: 2;
    grid-row-start: 1;
}