.container{
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-areas: 
        "filters content"
        ". footer";
    column-gap: 10px;
}

.filters{
    grid-area: filters;
    height: 410px;
    position: sticky !important;
    top: 58px; 
}

.content{
    grid-area: content
}

.footer {
    grid-area: footer;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: calc(100vw - 24px);
        grid-template-areas: 
        "filters"
        "content"
        "footer";
        padding: 0 12px;
    }

    .filters {
        position: relative !important;
        top: 0;
    }

    .content, .footer{
        width: 100%;
        align-self: center;
    }

    .footer {
        width: calc(100% - 24px);
    }

    .wrapper {
        padding: 0;
    }
}