.filters {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 5px;
    width: 252px;
}

@media (max-width: 768px) {
    .filters {
        width: calc(100vw - 24px);
    }
}
