:root{
  --label-color: #6a7480;
  --divider-color: #dce1e6;
  --group-background-color: #e6edf4;
  --group-icon-color: #9bb2cc;
  --popover-color: rgba(45,45,46,1);

  --border-color: rgba(0,0,0,.08);
  --border-radius: 8px;

  --text-secondary: #818C99;

  --font-size-s: 14px;
}

.filterLabel {
  color: var(--label-color);
}