.errorContainer {
    height: 310px;
}

.group {
    height: 116px;
}

.separator:last-child {
    display: none;
}

.spinner {
    margin-top: 160px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    margin-top: 150px;
}

.errorText {
    width: 350px;
    text-align: center;
}

@media (max-width: 768px) {
    .spinner, .error {
        margin-top: 10px;
        align-self: center;
    }
}