.group {
    height: 116px;
}

.separator:last-child {
    display: none;
}

.spinner {
    margin-top: 90px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    margin-top: 100px;
}

.errorText {
    width: 350px;
    text-align: center;
}